amfm_decompy
av==11.0.0
click==8.1.7
cmudict
cn2an==0.5.22
fastapi==0.109.0
ffmpeg
Flask==3.0.1
Flask_Cors==4.0.0
fugashi
g2p_en==2.1.0
GPUtil==1.4.0
gradio==4.16.0
huggingface_hub==0.20.3
inflect==7.0.0
jaconv==0.3.4
jieba==0.42.1
langid
librosa==0.9.2
loguru==0.7.2
matplotlib==3.8.2
MeCab==0.996.3
mecab-python3==1.0.8
modelscope==1.17.1
num2words==0.5.13
numba==0.59.0
numpy==1.26.3
openi==2.0.2.post1
phonemizer
psutil==5.9.8
pykakasi==2.2.1
pyopenjtalk==0.3.3
pyopenjtalk-prebuilt
pypinyin==0.50.0
PyYAML==6.0.1
Requests==2.31.0
scipy==1.12.0
sentencepiece
soundfile==0.12.1
starlette==0.35.1
tensorboard
torch==2.1.0
tqdm==4.66.1
transformers==4.37.2
unidic-lite==1.0.8
Unidecode
uvicorn==0.27.0.post1
vector_quantize_pytorch
WeTextProcessing>=0.1.10; platform_system != "Windows"
whisper==1.1.10
